.cabecera{
  background: black;
  padding-top:5px ;

  color: white;
  text-align: center;
  padding-bottom: 5px;


}
body{
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  
}
ul {
  list-style: none;

  
}

li{
  display: inline;

}
.boton-menu {
  display: inline-block;
  color: white;
  margin-top: 5px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  background: black;
  margin-right: 20px;
  padding-bottom: 7px;
}
a{
  color: white;
  text-decoration: none;

}
a:hover {
  color: aqua;
}
.centrado{
  text-align: center;

}
.informacion{
  width: 50%;
  display: inline-block;
  text-align: justify;
} 
.lista-normal li{
  display: block;
}
.footer{
  background: gray;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;


}
.menu-inicial 
{
  text-align: center;
}
.parrafo{
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  font-size: 30px;
  font-family:'Teko', sans-serif;
}
.titulo{
  padding-left: 100px;
  color: rgb(13, 101, 136);
  font-family: 'Satisfy', cursive;;
  
}
table,tr,th,td{
  border: 1px solid #000; 
  text-align: center;
  

}
table{
  display: inline-block;
  border-collapse: collapse;
}
th,td{
  padding:  50px;
}
tr:nth-child(odd)
 {background-color: #e99444;}

.fondo-rojo {
  background-color: rgb(230, 6, 6);
}
.fondo-gris {
  background-color: rgb(51, 53, 45);
}
.fondo-amarillo {
  background-color: rgb(209, 140, 28);
}
.fondo-azul {
  background-color: cornflowerblue;
}